/* 게시판 */

.board-wrap {
  position: relative;
}

.board-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.board-list>li {
  width: 100%;
  margin-bottom: 40px;
  padding: 30px 10px;
  border-bottom: 1px solid #d1d1d1;
}

.board-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 0;
  border-bottom: 1px solid #f1f1f1;
}

.board-no {
  font-size: 14px;
  font-weight: 300;
}

.board-no::before {
  content: "No.";
  margin-right: 3px;
  font-size: 12px;
}

.board-writer {
  font-size: 12px;
}

.board-title {
  font-size: 14px;
}

.board-main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  white-space: pre-line;
}

.board-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  width: 100%;
  height: 20px;
  overflow: hidden;
  background-color: white;
}

.board-like {
  display: block;
  flex-basis: 100px;
  text-align: right;
  font-size: 12px;
}

.board-write {
  position: absolute;
  bottom: 0px;
  right: 10px;
  display: block;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
}