/* 방명록 */

.book-wrap {
  max-height: calc(100vh - 330px);
  overflow-y: auto;
  padding: 30px 20px 0;
}

.book-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.book-list>li {
  position: relative;
  width: 100%;
  padding: 30px 0;
  border-bottom: 1px solid #d1d1d1;
  box-sizing: border-box;
}

.book-list .btn-basic {
  position: absolute;
  bottom: 23px;
  right: 0;
}

.book-line {
  width: 100%;
  margin: 10px 0 20px;
  border: 1px solid #f1f1f1;
}

.book-content,
.book-writer {
  display: block;
  width: 100%;
  font-size: 14px;
  text-align: left;
}

.book-content {
  font-weight: 300;
  white-space: pre-line;
}

.book-writer {
  font-weight: 700;
}

.book-date {
  position: absolute;
  top: 28px;
  right: 10px;
  font-size: 10px;
  text-align: right;
  white-space: pre-line;
}

.book-write-content {
  position: relative;
}