@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root {
  --color-gray100: #f1f1f1;
  --color-gray200: #d1d1d1;
  --color-main: #935db4;
  --color-red: #d24444;
  --color-blue: #2656c4;
  --color-green: #5cb463;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::placeholder {
  color: #999999;
}

body {
  position: relative;
  font-family: 'pretendard';
  font-size: 1em;
  font-weight: normal;
  background-color: #f3f3f3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit
}

input:focus,
textarea:focus,
button:focus,
input:focus,
select:focus,
a:focus {
  outline: none;
}

textarea,
code {
  font-family: 'pretendard', monospace;
}