/* 삭제버튼 */

.book-delete-input {
  position: absolute;
  right: 50px;
  bottom: 15px;
  width: 50px;
  height: 25px;
  background-color: var(--color-gray100);
  border: none;
  border-bottom: 1px solid var(--color-gray200);
  text-align: center;
}