/* 게시글 상세 */

.board-detail-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  padding: 0 10px 10px;
  border-bottom: 1px solid #d1d1d1;
  font-size: 14px;
  font-weight: 300;
}

.board-detail-no::before {
  content: "No.";
  margin-right: 3px;
  font-size: 12px;
}

.board-detail-title {
  font-weight: 700;
  font-size: 16px;
}

.board-detail-writer {
  font-weight: 500;
}

.board-detail-content {
  padding: 0 10px 30px;
  border-bottom: 1px solid #d1d1d1;
  white-space: pre-line;
  font-size: 14px;
  font-weight: 300;
}

.board-detail-link-wrap {
  text-align: right;
}

.board-detail-link-wrap>a {
  display: inline-block;
  margin: 10px 5px 0 0;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

#board_detail_like {
  display: none;
}

.board-detail-like {
  display: block;
  margin: 10px 10px 0;
  text-align: left;
  font-size: 12px;
  cursor: pointer;
}